*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f4f2;
    color: rgb(17 0 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 500;
}

.header-background {
    width: 100%;
    height: 16em;
    overflow: hidden;
    position: relative;
}

.header-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

ul {
    list-style: none;
}

#flights-wrapper {
    padding: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .625em;
    margin: 1.25em;
    text-align: center;

}

ul:first-of-type {
    font-weight: bold;
    text-transform: capitalize;
    padding: .6em .4em;
    margin-bottom: .6em;
    border-radius: .4em;
}

.flight {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    gap: 1.2em;
}

.flight:hover {
    box-shadow: 0 0 .625em rgba(0, 0, 0, .1);
    cursor: pointer;
    transform: translate(1em);
}

.flight li:hover{

}